<div class="container" id="userAdmin">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">ID Alumno</th>
                        <th scope="col" class="text-center">ID de usuario</th>
                        <th scope="col" class="text-center">Nombre</th>
                        <th scope="col" class="text-center">Apellido</th>
                        <th scope="col" class="text-center">Zona</th>
                        <th scope="col" class="text-center">Dirección</th>
                        <th scope="col" class="text-center">Ruta de foto</th>
                        <th scope="col" class="text-center">Puntuación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of alumnos">
                        <th scope="row" class="text-center">{{ alumno.id_alumno }}</th>
                        <td class="text-center">{{ alumno.id_usuario }}</td>
                        <td class="text-center">{{ alumno.nombre }}</td>
                        <td class="text-center">{{ alumno.apellido }}</td>
                        <td class="text-center">{{ alumno.zona }}</td>
                        <td class="text-center">{{ alumno.direccion }}</td>
                        <td class="text-center">{{ alumno.foto_path }}</td>
                        <td class="text-center">{{ alumno.puntuacion }}</td>
                        <td class="text-center text-nowrap">
                            <button type="button" (click)="editar(alumno)" class="btn btn-sm btn-primary me-1">Editar</button>
                            <button type="button" (click)="borrar(alumno)" class="btn btn-sm btn-success">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <form [formGroup]="alumnosForm">
                <div class="mb-3">
                    <label for="id_alumno" class="col-sm-2 col-form-label">ID del alumno</label>
                    <input formControlName="id_alumno" type="text" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input formControlName="nombre" type="text" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input formControlName="apellido" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="zona" class="form-label">Zona</label>
                    <input formControlName="zona" type="text" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input formControlName="direccion" type="text" class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="foto_path" class="form-label">Ruta de foto</label>
                    <input formControlName="foto_path" type="text" class="form-control">
                </div>
                <button type="button" (click)="guardarAlumno()" [disabled]="alumnosForm.invalid" class="btn btn-outline-primary me-1">Guardar</button>
                <button type="reset" (click)="descartarAlumno()" class="btn btn-outline-secondary">Descartar</button>
            </form>
        </div>
    </div>
</div>