<!-- Botón para abrir el offcanvas -->
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

<div id="offcanvas-nav" class="offcanvas offcanvas-start show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <img src="..." alt="" height="50" />
        <h3>Bienvenido</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <!-- Botón tipo toggle: <button type="button" class="btn-close" data-bs-toggle="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboardAlumnos">
                    <img class="offcanvas-icon" src="../../../assets/icon/home.png" alt="">
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mensajesAlumnos">Mensajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resenasAlumnos">Mis reseñas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/perfilAlumnos">Perfil</a>
            </li>
        </ul>
    </div>
</div>