.container{
    margin-top: 3% !important;
}

.row{
    margin-top: 5% !important;
}

.accordion-body{
    display: inline !important;
}

span{
    margin: 1% auto;
}

.card{
    width: 100% !important;
    margin: 1% auto;
}

.cardTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items:  center;
}

.info{
    width: 100%;
    text-align: left;
    margin: 0 2%;
}

p{
    margin: 0;
}

.divider{
    background-color: lightgray;
    min-height: max-content;
    min-width: 1px;
}

.datosProfe{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.datosProfe h5{
    padding: 0% 10%;
}

.profilePic{
    width: 50px;
    min-width: 49px;
    height: 50px;
    min-height: 49px;
    overflow: hidden;
    border-radius: 50%;
}