<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tututor/
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^backend/(.*)$ backend/api.php?accion=$1 [QSA,L]
</IfModule>