<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tututor/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^backend/(.*)$ backend/api.php?accion=$1 [QSA,L]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PATCH, DELETE"
    Header set Access-Control-Allow-Headers "X-API-KEY, Origin, X-Requested-With, Content-Type, Accept, Access-Control-Request-Method, X-Auth-Token"
    Header set Access-Control-Allow-Origin "http://localhost:4200"
</IfModule>
