#main-content{
    width: 80%;
    margin: auto;
}

section{
    margin: 2% auto;
}

h3{
    margin-top: 3%;
}

#card-materia{
    margin: 0.5%;
    background-color: rgba(255, 255, 255, 0.50);
    border-color: #A3CEF1;
    border-radius: 10px !important;
    align-items: center;
    justify-content: center !important;
    padding: 2%;
    max-width: 250px;
}

#cardimg-materia{
    max-width: 100px;
    width: 100%;
    height: auto;
}

#card-clase{
    max-width: 40%;
    padding: 1%;
}

.claseTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3%;
}

.datosProfe{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.datosProfe h5{
    padding: 0% 10%;
}

.resenaPic{
    width: 50px;
    min-width: 49px;
    height: 50px;
    min-height: 49px;
    overflow: hidden;
    border-radius: 50%;
}