#offcanvas-toggle{
    background-color: #274C77 !important;
    border-radius: 0 10% 10% 0 !important;
    border-color:  transparent !important;
}

#offcanvas-toggle2{
    background-color: #274C77 !important;
    border-radius: 0 10% 10% 0 !important;
    border-color:  transparent !important;
}

#offcanvas-nav{
    color: #FFFFFF !important;
    background-color: #274C77 !important;
}

.offcanvas-header{
    background-color: #274C77 !important;
    color:#FFFFFF !important;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5%;
}

#closeOffcanvas{
    color: #FFFFFF !important;
}

.welcome{
    color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10%;
    text-align: center;
}

#profPic{
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10%;
}

.offcanvas-body{
    background-color: #274C77 !important;
}


li{
    align-items:baseline;
    justify-items: baseline;
    cursor: pointer;
}

img.offcanvas-icon{
    width: 24px;
    height: auto;
    margin-right: 15px;
}

a{
    color: white;
    font-size: 24px;
    font-family: 'Kufam';
}

a:hover{
    color: grey;
}

.logoutbtn{
    background-color: #274C77;
    color: white !important;
}

#cerrarSesion{
    float: right;
    text-align: right;
    color: white !important;
}

#cerrarSesion:hover{
    color: grey;
}