<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="mail" required>
        <div id="emailHelp" class="form-text">Tu email está a salvo con nosotros.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" required="">
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
