#myFooter{
    background-color: #274C77 !important;
    color: white !important;
    padding: 2% 5% !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 5%;
}

a{
    color: white !important;
    font-size: 14px;
}

#titulo{
    font-size: 30px;
    font-weight: 500;
}