<section id="main-content">
    <section id="materias">
        <h3>Mis materias</h3>
        <div id="cardgroup-materias" class="card-group">
            <div id="card-materia" class="card" *ngFor="let materia of materiasAlumno.slice(0, 8)">
                <img id="cardimg-materia" src="../../../assets/img/{{ materia.icono }}" class="card-img-top" alt="...">
                <div id="cardbody-materia" class="card-body">
                    <h5 class="card-title">{{ materia.nombre }}</h5>
                </div>
            </div>
        </div>
    </section>
    <section id="clases">
        <h3>Mis últimas clases</h3>
        <div id="cardgroup-clases" class="card-group">
            <div id="card-clase" class="card">
                <img id="cardimg-clase" src="..." class="card-img-top" alt="...">
                <div id="cardbody-clase" class="card-body">
                    <h5 class="card-title"></h5>
                </div>
            </div>
        </div>
    </section>
</section>