#main-content{
    width: 80%;
    margin: auto;
}

section{
    margin: 2% auto;
}

#card-materia{
    margin: 0.5%;
    background-color: rgba(255, 255, 255, 0.50);
    border-color: #A3CEF1;
    border-radius: 10px !important;
    align-items: center;
    justify-content: center !important;
    padding: 2%;
    max-width: 250px;
}

#cardimg-materia{
    max-width: 100px;
    width: 100%;
    height: auto;
}