<section id="main-content">
    <section id="materias">
        <h3>Mis materias</h3>
        <div id="cardgroup-materias" class="card-group">
            <div id="card-materia" class="card" *ngFor="let materia of materiasAlumno.slice(0, 8)">
                <img id="cardimg-materia" src="../../../assets/img/{{ materia.icono }}" class="card-img-top" alt="...">
                <div id="cardbody-materia" class="card-body">
                    <h5 class="card-title">{{ materia.nombre }}</h5>
                </div>
            </div>
        </div>
    </section>
    <section id="clases">
        <h3>Mis últimas clases</h3>
        <div id="cardgroup-clases" class="card-group">
            <div id="card-clase" class="card" *ngFor="let resena of resenasAlumno.slice(0, 4)">
                <div id="cardbody-clase" class="card-body">
                    <div class="claseTop">
                        <div class="datosProfe">
                            <img class="resenaPic" [src]="resena.foto_path ? resena.foto_path : '../../../assets/img/profilePic.jpg'" alt="">
                            <h5 class="card-title">{{ resena.nombre_profesor }} {{ resena.apellido_profesor }}</h5>
                        </div>
                        <h5>
                            {{ resena.estrellas }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </h5>
                    </div>
                    <p class="card-text">{{ resena.opinion }}</p>
                </div>
            </div>
        </div>
    </section>
</section>