section{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(83.16, 112.60, 146.80, 0.80) 53%, #274C77 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 10px;
    text-align: center;
}

h1{
    margin-top: 20px;
    color: #274C77;
}

h3{
    color: white;
    text-align: left;
    margin-left: 15%;
}