<section>
    <div class="container">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">
                    <h1>Bienvenido al administrador de TuTutor.com</h1>
                </span>
                <span class="navbar-brand mb-0 h1">
                    <button class="btn btn-primary" type="button" (click)="logout()">Salir</button>
                </span>
            </div>
        </nav>

        <div class="row" style="margin: 2% auto;">
            <span class="col">
                <button style="width: 100%;" type="button" (click)="restablecerBD()" class="btn btn-danger btn-block">Restablecer BBDD</button>
            </span>
            <span class="col">
                <button style="width: 100%;" class="btn btn-success" type="button" (click)="actualizar()">Actualizar</button>
            </span>
        </div>
        
        <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let tab of tabs">
                @if(tabActivo === tab){
                    <a id="{{ tab }}" class="w-100 nav-item nav-link active" (click)="show(tab)" style="flex: 1">
                        {{ tab }}
                    </a>
                } @else {
                    <a id="{{ tab }}" class="w-100 nav-item nav-link" (click)="show(tab)" style="flex: 1">
                        {{ tab }}
                    </a>
                }
            </li>
        </ul>

        <div class="show">
            @switch (tabActivo) {
                @case ("Usuarios") {
                    <admin-usuarios />
                }
                @case("Alumnos"){
                    <admin-alumnos />
                }
                @case("Profesores"){
                    <admin-profesores />
                }
                @case("Materias"){
                    <admin-materias />
                }
            }
        </div>
    </div>
</section>